<!DOCTYPE html>

<html>
  <header>
    <link rel="stylesheet" href="/public/styles.css">
  </header>

  <body>
    <h1>Welcome!</h1>
      <a class="btn" href="/quote">Get A Random Quote</a>
  </body>
</html>
