<!DOCTYPE html>

<html>
  <header>
    <link rel="stylesheet" href="/public/styles.css">
  </header>

  <body>
    <h1 id="welcome_message">Welcome!</h1>
    <h2 id="page_message">Need a good quote to get you inspired?<br>Sounds like you need some Zen Inspiration!</h2>
    <a class="btn" id="home_quote_btn" href="/quote">Get A Random Quote</a>
  </body>
</html>
