<!DOCTYPE html>

<html>
  <head>
    <title>ZenInspiration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/public/styles.css">
  </head>

  <body class="page_body">
    <nav class="nav"> 
      <div class="nav_logo">
        <a href="/" id="logo_link">ZenInspiration</a>
      </div>
      <div class="nav_links">
        <a href="/" id="home_link">-Home</a>
        <a href="/quote" id="quote_link">-Get Quote</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
