<!DOCTYPE html>

<html>
  <head>
    <title>ZenMotivation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav class="nav"> 
      <a href="/" id="logo_link">ZenMotivation</a>
      <a href="/" id="home_link">Home</a>
      <a href="/quote" id="quote_link">Get Quote</a>
    </nav>
    <%= yield %>
  </body>
</html>
