<!DOCTYPE html>

<html>
  <header>
    <link rel="stylesheet" href="/public/styles.css">
  </header>
  <body>
    <div class="quote_box">
      <h2 id="quote"><%=@quote%></h2>
      <h3 id="author">-<%=@author%></h3>
    </div>
    <div class="button_div">
      <a class="btn" id="quotepage_buttom1" href="/">Back To Home</a>
      <a class="btn" id="quotepage_buttom2" href="/quote">Get Another Quote</a>
    </div>  
  </body>
</html>
