<!DOCTYPE html>

<html>
  <header>
    <link rel="stylesheet" href="/public/styles.css">
  </header>
  <body>
    <div class="quote_box">
      <h2>"Quote"</h2>
      <h3>-author</h3>
    </div>
    <a class="btn" href="/">Back To Home</a>
    <a class="btn" href="/quote">Get Another Quote</a>
  </body>
</html>
