.page_body{
  margin: 0px;
  background-color: rgb(201, 197, 197);
  font-family: Georgia, 'Times New Roman', Times, serif
}

.btn {
  font-size: 25px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  padding: 0.5rem;
  border: 2px solid #333333;
}

nav {
  font-size: 30px;
  display: flex;
  padding-bottom: 10px;
  background-color: rgb(79, 167, 248);
  border-bottom: 3px dotted black;
  padding: 10px;
}

nav a{
  color: black;
  text-decoration: none;
  padding: 0px 10px 10px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 25px;
}

#logo_link{
  font-family:fantasy;
  font-size: 50px;
  margin-right: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: left;
}

.nav_links{
  font-size: 30px;
  padding-top: 10px;
}
.nav_links a{
  display:flex;
  justify-content: left;
}

#home_link{
  margin-right: 30px;
}

#welcome_message{
  font-size: 50px;
  text-align: center;
  margin: 100px auto 20px;
}

#page_message{
  font-size: 25px;
  text-align: center;
  margin: 10px auto 70px;
}

#home_quote_btn{
  margin: 50px auto 50px;
  display: flex;
  justify-content: center;
  width: 250px;
}

.quote_box{
  border: 3px solid black;
  margin: 200px auto 50px;
  max-width: 1000px;
  border-radius: 20px;
  background-color: rgb(201, 197, 197);
}

#author{
  text-align: right;
  padding-right: 10%;
  margin-top: 0px;
}

#quotepage_buttom1{
  margin-right: 10px;
}

.button_div{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1000px;
}

#quote{
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
}

#quotepage_buttom2{
  margin-left: 10px;
}
